// TODO: アニメーションかかる箇所をtransform 3d とかでGPUで処理するように変更
.spacer {
  height: 1000px;
  text-align: center;
}

.container-scroll {
  height: 1000vh;
  // height: 5000px;
  background: linear-gradient(#fff, #888);
  position: relative;
}

.container-y {
  top: 0;
  position: sticky;
  height: 100vh;
  background: rgba(255, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(8, 300px);
  gap: 24px;
  transition: transform 0.2s ease-out;
}

#scale-anim .container-y {
  justify-content: center;
  line-height: 1;
  user-select: none;
}

.scale-text {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  transition: transform 0.2s ease-out;
}

.items3 {
  position: absolute;
  top: 0;
  bottom: 40px;
  right: 0;
  left: 0;
  margin: auto;
}

.item3 {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 300px;
  margin: auto;
  transform: translateY(-50%);
  .card {
    opacity: 0.5;
    transform-origin: center 400%;
    transition: transform 0.2s ease-out;
  }
  &:nth-child(odd) {
    .card {
      transform: rotate(30deg);
    }
  }
  &:nth-child(even) {
    .card {
      transform: rotate(-30deg);
    }
  }
}

.container-scroll4 {
  background: linear-gradient(#fff, #888);
  position: relative;
}

.container-y4 {
  top: 0;
  position: sticky;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
}

.rotate-text {
  top: 20px;
  left: 0;
  right: 0;
  width: 300px;
  padding: 16px;
  background: hsl(0 100% 50%);
  color: #fff;
  margin: auto;
  font-weight: bold;
  text-align: center;
  position: absolute;
  // opacity: 0.5;
  transform: rotateY(0deg);
  transition: all 0.2s ease-out;
}

.content-text {
  min-height: 100vh;
  margin-top: -100vh;
  padding: 100px 16px;
  position: relative;
  z-index: 1;
  color: #fff;
}
