.cat1 {
  view-transition-name: cat1;
  contain: paint;
}

.cat2 {
  view-transition-name: cat2;
  contain: paint;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
}

.top {
  background: #fff;
}

.sub1 {
  background: #def;
}

.sub2 {
  background: #fed;
}
